<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Curso</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/formCadastrar.css}" />

</head>

<body>

    <h2>Formulário de Curso</h2>

    <form th:action="@{/curso/salvar}" th:object="${curso}" method="POST">

        <input type="hidden" th:field="*{id_curso}" />

        <label for="nome_curso">Nome do Curso:</label>
        <input type="text" id="nome_curso" th:field="*{nome_curso}" required>

        <label for="carga_horaria">Carga Horária:</label>
        <input type="number" id="carga_horaria" th:field="*{carga_horaria}" required>

        <label for="descricao_curso">Descrição (Ementa):</label>
        <input type="text" id="descricao_curso" th:field="*{descricao_curso}" required>

        <button type="submit">Salvar Curso</button>

    </form>

    <a th:href="@{/curso/listarTodos}">
        Voltar para a Listagem
    </a>

</body>

</html>