<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Escolar</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}" />

</head>

<body>

    <h2>Dashboard - Sistema Escolar</h2>

    <div class="menu">
        <a class="botao" href="/aluno/listarTodos">Gerenciar Alunos</a>

        <a class="botao" href="/curso/listarTodos">Gerenciar Cursos</a>

        <a class="botao" href="/matricula/listarTodos">Gerenciar Matrículas</a>
    </div>

</body>

</html>