<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/listarTodos.css}" />

</head>

<body>

    <h2>Lista de Alunos Matriculados</h2>

    <table>

        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>

            <tr th:each="aluno : ${listAlunos}">

                <td th:text="${aluno.id_aluno}"></td>

                <td th:text="${aluno.nome_aluno}"></td>

                <td th:text="${aluno.cpf_aluno}"></td>

                <td th:text="${aluno.email_aluno}"></td>

                <td>
                    <a th:href="@{/aluno/editar/{id}(id=${aluno.id_aluno})}">
                        Editar
                    </a>

                    |

                    <a th:href="@{/aluno/excluir/{id}(id=${aluno.id_aluno})}"
                        onclick="return confirm('Tem certeza que deseja excluir?');">
                        Excluir
                    </a>
                </td>

            </tr>

        </tbody>

    </table>

    <a class="cadastrar" th:href="@{/aluno/formCadastrar}">
        + Cadastrar Novo Aluno
    </a>

    <a class="cadastrar" th:href="@{/}">DashBoard</a>

</body>

</html>